# Ignore audio files
**/static/audio/**
*.mp3
*.wav
*.ogg
*.m4a

# SQLite database file
*.db
*.sqlite
*.sqlite3

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# OS specific files
.DS_Store
Thumbs.db
